.navbar{
    background: white;
}

.nav-link{
    margin: 0 15px;
}

/** Estilos próprios**/

.box-fix{
    position: relative;
    top: 55px;
}

section.bg-top{
    width: 100%;
    height: 500px;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.fix-zindex{
    position: relative;
    z-index: 2;
}

.overlay{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(100, 100, 100,0.4);
}

.texto-bg{
    display: inline-block;
    color: white;
    margin-top: 140px 0;
}

.padding30{
    padding-right: 30px;
}

section.chamada{
    background: #3FA3C5;
    padding: 8px 0;
    color: white;
}

section.chamada h2{
    font-size: 34px;
}

@media screen and (max-width: 1024px){
    .nav-link{
        margin: 0;
    }
}